body {
    width: 50% auto;
    height: auto;
    margin: 0 auto;
}

header{
    background-image: url(../img/woddPlank.jpg);
    height:2em;
    width:95%;
    padding-bottom: 45%;
}        
nav {
    text-align: right;
    font-size: 12pt;
    color: black;

    }
nav ul li {
    display: inline-block;

}
h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.bas{
    color: palevioletred;
}

section {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.A, .B{
  margin: 0;
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  
}
img.cerf {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.B img{
    width: 150%;
    height: auto;
}
.A img{
    width: 50%;
    height: auto;
}
.graine{
    vertical-align: middle;
}
hr{
    color: palevioletred;
    width: 15%;
    
}
footer{
    background-image: url(../img/pattern.jpg);
    padding: 90px;
}
.Bas{
    height:150%;    
}
.float{
    float: left;
}
.triangle{
	width:1px;
	height:1px;
	border:1px solid rgb(153, 0, 84);
	border-color:transparent transparent rgb(153, 0, 133) transparent;
    border-width:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

